<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <title></title>
    
    <link href="static/reset.css" rel="stylesheet" />
    <link href="static/styles.css" rel="stylesheet">
  </head>
  <body>
    
    <h1>Astros Statistics</h1>
    
    <hr> 

    <img src="static/astros_logo.svg" alt="">
    <br>
    <br>

    <h2>Player Roster</h2>
    <table>
      <tr>
        <td>Astros Hitting</td>
        <td>Pos</td>
        <td>AB</td>
        <td>R</td>
        <td>H</td>
        <td>RBI</td>
        <td>HR</td>
        <td>BB</td>
        <td>K</td>
        <td>AVG</td>
      </tr>
      <tr>
        <td>
          {%for p in roster%}
          <h3>{{p[2]}} #{{p[5]}}</h3> 
          {%endfor%}

        </td>

        <td>
          {%for p in roster%}
            <h3>
              {{p[7]}}
            </h3>
          {%endfor%}
        </td>


        <td>
          {%for hitter in hitters%}
            <h3>{{hitter[20]}}</h3>
          {%endfor%}
        </td>
        
        <td>
          {%for hitter in hitters%}
            <h3>{{hitter[10]}}</h3>
          {%endfor%}
        </td>

        <td>
          {%for hitter in hitters%}
            <h3>{{hitter[17]}}</h3>
          {%endfor%}
        </td>

        <td>
          {%for hitter in hitters%}
            <h3>{{hitter[31]}}</h3>
          {%endfor%}
        </td>
        
        <td>
          {%for hitter in hitters%}
            <h3>{{hitter[13]}}</h3>
          {%endfor%}
        </td>
        
        <td>
          {%for hitter in hitters%}
            <h3>{{hitter[15]}}</h3>
          {%endfor%}
        </td>
        
        <td>
          {%for hitter in hitters%}
            <h3>{{hitter[14]}}</h3>
          {%endfor%}
        </td>
        
        <td>
          {%for hitter in hitters%}
            <h3>{{hitter[19]}}</h3>
          {%endfor%}
        </td>
      </tr>
    </table>

    <hr>

    <!--Pitchers Table-->

    <table>
      <h3>Astros 2024 Season</h3>
      <tr>
        <td>Astros Pitchers</td>
        <td>Pos</td>
        <td>IP</td>
        <td>H</td>
        <td>R</td>
        <td>ER</td>
        <td>BB</td>
        <td>HR</td>
        <td>K</td>
        <td>ERA</td>
      </tr>
      <tr>

        <td>
          {%for p in number%}
          <h3>{{p[2]}} #{{p[5]}}</h3> 
          {%endfor%}
        </td>

         <td>
          {%for pitcher in pitchers%}
            <h3>{{pitcher[5]}} </h3>
          {%endfor%}
        </td>

        <td>
          {%for pitcher in pitchers%}
            <h3>{{pitcher[31]}}</h3>
          {%endfor%}
        </td>

        <td>
          {%for pitcher in pitchers%}
            <h3>{{pitcher[18]}}</h3>
          {%endfor%}     
        </td>

        <td>
          {%for pitcher in pitchers%}
            <h3>{{pitcher[11]}}</h3>
          {%endfor%}
        </td>

        <td>
          {%for pitcher in pitchers%}
            <h3>{{pitcher[38]}}</h3>
          {%endfor%}
        </td>

        <td>
          {%for pitcher in pitchers%}
            <h3>{{pitcher[16]}}</h3>
          {%endfor%}
        </td>

        <td>
          {%for pitcher in pitchers%}
            <h3>{{pitcher[14]}}</h3>
          {%endfor%}
        </td>
        
        <td>
          {%for pitcher in pitchers%}
            <h3>{{pitcher[15]}}</h3>
          {%endfor%}
        </td>

        <td>
          {%for pitcher in pitchers%}
            <h3>{{pitcher[38]}}</h3>
          {%endfor%}
         </td>

      </tr>
    </table>

    <hr>

    <h4>This is a fan made site to get some better understanding 
      of the performance of all of the Astros players.
    </h4>
        
  </body>
</html>
